@page
@model MascotaFeliz.App.Presentacion.Pages.DetalleDuenoModel
@{
  ViewData["Title"] = "Mostrar Dueño";
}


<link rel="stylesheet" href="~/css/Add-edit.css" />
<div class="container">
  <header class="header">
    <h1>Mostrar dueño</h1>
  </header>
  <form method="post" class="contenedor-main">
     <input type="hidden" asp-for="dueno.Id" />
    <div>
      <label asp-for="dueno.Nombres">Nombres: </label>
      <input asp-for="dueno.Nombres" type="text" disabled/>
    </div>
    <div>
      <label asp-for="dueno.Apellidos">Apellidos: </label>
      <input asp-for="dueno.Apellidos" type="text" disabled/>
    </div>

    <div>
      <label asp-for="dueno.Direccion">Dirección: </label>
      <input asp-for="dueno.Direccion" type="text" disabled/>
    </div>

    <div>
      <label asp-for="dueno.Telefono">Teléfono: </label>
      <input asp-for="dueno.Telefono" type="text" disabled/>
    </div>
    <div>
      <label asp-for="dueno.Correo">Correo: </label>
      <input asp-for="dueno.Correo" type="text" disabled/>
    </div>
    <br>
    <br>
    <div>
      <a class="btn-volver" asp-page="./Duenos"> Volver </a>
    </div>
  </form>
</div>
