@page
@model MascotaFeliz.App.Presentacion.Pages.EditarDuenoModel
@{
  ViewData["Title"] = Model.nombrePage;
}


<link rel="stylesheet" href="~/css/Add-edit.css" />
<div class="container">
  <header class="header">
    <h1>@Model.nombrePage</h1>
  </header>
  <form method="post" class="contenedor-main">
    <input type="hidden" asp-for="dueno.Id" />
    <div>
      <label asp-for="dueno.Nombres">Nombres: </label>
      <input asp-for="dueno.Nombres" type="text" />
    </div>
    <div>
      <label asp-for="dueno.Apellidos">Apellidos: </label>
      <input asp-for="dueno.Apellidos" type="text" />
    </div>

    <div>
      <label asp-for="dueno.Direccion">Dirección: </label>
      <input asp-for="dueno.Direccion" type="text" />
    </div>

    <div>
      <label asp-for="dueno.Telefono">Teléfono: </label>
      <input asp-for="dueno.Telefono" type="text" />
    </div>
    <div>
      <label asp-for="dueno.Correo">Correo: </label>
      <input asp-for="dueno.Correo" type="text" />
    </div>
    <div>
      <button class="button-enviar" type="submit">Guardar</button>
    </div>
    <div>
      <a class="btn-volver" asp-page="./Duenos"> Volver </a>
    </div>
  </form>
</div>
