@page
@model MascotaFeliz.App.Presentacion.Pages.EditarVeterinarioModel
@{
  ViewData["Title"] = Model.nombrePage;
}


<link rel="stylesheet" href="~/css/Add-edit.css" />
<div class="container">
  <header class="header">
    <h1>@Model.nombrePage</h1>
  </header>
  <form method="post" class="contenedor-main">
    <input type="hidden" asp-for="veterinario.Id" />
    <div>
      <label asp-for="veterinario.Nombres">Nombres: </label>
      <input asp-for="veterinario.Nombres" type="text" />
    </div>
    <div>
      <label asp-for="veterinario.Apellidos">Apellidos: </label>
      <input asp-for="veterinario.Apellidos" type="text" />
    </div>

    <div>
      <label asp-for="veterinario.Direccion">Dirección: </label>
      <input asp-for="veterinario.Direccion" type="text" />
    </div>

    <div>
      <label asp-for="veterinario.Telefono">Teléfono: </label>
      <input asp-for="veterinario.Telefono" type="text" />
    </div>
    <div>
      <label asp-for="veterinario.TarjetaProfesional">Tarjeta Profesional: </label>
      <input asp-for="veterinario.TarjetaProfesional" type="text" />
    </div>
    <div>
      <button class="button-enviar" type="submit">Guardar</button>
    </div>
    <div>
      <a class="btn-volver" asp-page="./Veterinarios"> Volver </a>
    </div>
  </form>
</div>
